@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #e5e3dc;
  --link-color: #e2e2dc;
--overlay-bg: #0a0a0a;
}

*{
  margin: 0;
  padding: 0;
  width: 100vw;
  /* height: 100vh; */
}

@font-face {
    font-family: neue-thin;
    src: url(./fonts/neue/NeueHaasDisplay-Thin.ttf);
  }

@font-face {
    font-family: neue-medium;
    src: url(./fonts/neue/NeueHaasDisplay-Mediu.ttf);
  }

@font-face {
    font-family: neue-medium;
    src: url(./fonts/neue/NeueHaasDisplay-Light.ttf);
  }

@font-face {
    font-family: proxima;
    src: url(./fonts/proxima/Proxima\ Nova\ Font.otf);
  }
@font-face {
    font-family: galgo;
    src: url(./fonts/galgo/Galgo.ttf);
  }

  .galgo{
    font-family: galgo;
  }
  .neue-thin{
    font-family: neue-thin;
  }
  .neue-medium{
    font-family: neue-medium;
  }
  .pop-bold{
    font-family: pop-bold;
  }
  .pop-medium{
    font-family: pop-medium;
  }
  .pop-thin{
    font-family: pop-thin;
  }
  
  
  body{
    background:none;
  }
  
  .nav-section {
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 24px;
  
  }
  
.bg-blue{
background: linear-gradient(137.6deg, #0527FF 41.49%, #06FBFB 104.04%);
}

  .bg-hero{
    background-position: scroll;
    background-image: url(assets/hero.png);
    background-size: cover;
    background-color: aqua;
  }
